In [2]:
import pandas as pd
import numpy as np
from scipy import stats

# read the data

data = pd.read_csv('caschool.csv')

In [5]:
data.describe()

,Observation Number,dist_cod,enrl_tot,teachers,calw_pct,meal_pct,computer,testscr,comp_stu,expn_stu,str,avginc,el_pct,read_scr,math_scr
count,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000
mean,210.500000,67472.809524,2628.792857,129.067376,13.246042,44.705237,303.383333,654.156548,0.135927,5312.407541,19.640425,15.316588,15.768155,654.970477,653.342619
std,121.387808,3466.994655,3913.104985,187.912679,11.454821,27.123381,441.341298,19.053348,0.064956,633.937053,1.891812,7.225890,18.285927,20.107980,18.754202
min,1.000000,61382.000000,81.000000,4.850000,0.000000,0.000000,0.000000,605.550049,0.000000,3926.069580,14.000000,5.335000,0.000000,604.500000,605.400024
25%,105.750000,64307.750000,379.000000,19.662499,4.395375,23.282200,46.000000,640.049988,0.093767,4906.180053,18.582360,10.639000,1.940807,640.400024,639.375015
50%,210.500000,67760.500000,950.500000,48.564999,10.520450,41.750700,117.500000,654.449982,0.125464,5214.516601,19.723208,13.727800,8.777634,655.750000,652.449982
75%,315.250000,70419.000000,3008.000000,146.350002,18.981350,66.864725,375.250000,666.662506,0.164466,5601.401367,20.871815,17.629001,22.970003,668.725006,665.849991
max,420.000000,75440.000000,27176.000000,1429.000000,78.994202,100.000000,3324.000000,706.750000,0.420833,7711.506836,25.799999,55.327999,85.539719,704.000000,709.500000